<article class="p-grid p-nogutter tile-book">
  <div class="p-col-fixed">
    <img [src]="book.image || './assets/images/missing-image.png'" [alt]="book.title" class="tile-book-image" />
  </div>
  <div class="p-col">
    <div class="tile-book-content">
      <div>
        <h4 class="tile-book-title">{{ book.title }}</h4>
        <p class="tile-book-author">by {{ book.author | array: ', ' }}</p>
      </div>
      <div class="p-grid p-nogutter p-justify-end">
        <div>
          <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
        </div>
      </div>
    </div>
  </div>
</article>
