@import '~src/styles/variables';

.filter-area {
  background-color: #f0f0f0;
  padding: 1rem;
}

.list-item-book {
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  border: 1px solid rgb(237, 235, 233);

  .list-item-book-image {
    width: 12rem;
    height: 16rem;
    object-fit: cover;
    display: block;
  }
  .list-item-book-content {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .list-item-book-title {
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 0.25rem;
    }
    .list-item-book-author {
      font-size: 0.875rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.tile-book {
  border: 1px solid rgb(237, 235, 233);
  border-radius: $border-radius;
  background-color: #ffffff;

  .tile-book-image {
    width: 6rem;
    height: 8rem;
    object-fit: cover;
    display: block;
  }

  .tile-book-content {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tile-book-title {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .tile-book-author {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
