<div class="p-grid p-align-center">
  <div class="p-col"><h1>Search to find your new book</h1></div>
  <div class="p-col-fixed">
    <a pButton [icon]="'pi pi-plus'" label="New book" [routerLink]="['add']"></a>
  </div>
</div>
<div class="filter-area" *ngIf="books">
  <div class="p-grid p-align-center">
    <div class="p-col">
      <div class="p-grid p-align-center">
        <div class="p-col-fixed">
          <label for="search"> <i class="pi pi-filter"></i></label>
        </div>
        <div class="p-col">
          <input type="search" id="search" pInputText [(ngModel)]="globalFilter.value" (input)="filter($event)" />
        </div>
      </div>
    </div>
    <div class="p-col">
      <ng-container *ngIf="genreSelectItems$ | async as genreSelectItems">
        <p-multiSelect
          (onChange)="filter($event)"
          [(ngModel)]="filters.categories.value"
          [options]="genreSelectItems"
          [selectionLimit]="8"
          [maxSelectedLabels]="1"
          [selectedItemsLabel]="'{0} categories selected'"
          [inputId]="'categories'"
          [defaultLabel]="'Categories'"
          [showToggleAll]="false"
        ></p-multiSelect>
      </ng-container>
    </div>
    <div class="p-col">
      <p-dropdown
        (onChange)="filter($event)"
        [(ngModel)]="filters.author.value"
        [options]="authorSelectItems"
        [inputId]="'authors'"
      ></p-dropdown>
    </div>
    <div class="p-col">
      <div class="p-px-3">
        <div class="text-center p-pb-1"><label for="slider">Published Year</label></div>
        <p-slider
          #slider
          [(ngModel)]="filters.published.value"
          [range]="true"
          [min]="publishedBound[0]"
          [max]="publishedBound[1]"
          (onChange)="filter($event)"
        ></p-slider>
        <div class="ui-slider-labels">
          <span class="ui-slider-label" [ngStyle]="{ left: slider.rangeStartLeft }">{{ filters.published.value[0] }}</span>
          <span class="ui-slider-label" [ngStyle]="{ left: slider.rangeEndLeft }">{{ filters.published.value[1] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-mb-3">
  <app-dataview [items]="books" [globalFilter]="globalFilter" [filters]="filters" [emptyMessage]="'No books found'" [trackBy]="trackByFn">
    <ng-template let-book pTemplate="listItem">
      <div class="p-col-12">
        <article class="list-item-book">
          <div class="p-grid p-nogutter">
            <div class="p-col-fixed">
              <img [src]="book.image || './assets/images/missing-image.png'" [alt]="book.title" class="list-item-book-image" />
            </div>
            <div class="p-col">
              <div class="list-item-book-content">
                <div>
                  <h4 class="list-item-book-title">{{ book.title }}</h4>
                  <p class="list-item-book-author">by {{ book.author | array: ', ' }}</p>
                  <div class="p-mb-2">{{ book.description }}</div>
                  <li>ISBN: {{ book.isbn }}</li>
                  <li>Published Year: {{ book.published }}</li>
                  <li>Publisher: {{ book.publisher }}</li>
                </div>
                <div class="p-grid p-nogutter p-justify-end">
                  <div>
                    <a pButton [routerLink]="[book.isbn]" [label]="'Edit'"></a>
                    <a pButton [routerLink]="[book.isbn, 'view']" [label]="'View'"></a>
                    <a pButton class="ui-button-danger" (click)="confirmDeletion(book)" [label]="'Delete'"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </ng-template>
    <ng-template let-book pTemplate="gridItem">
      <div class="p-col-12 p-sm-6 p-md-4 p-py-2">
        <app-book-tile [book]="book">
          <ng-template pTemplate="actions">
            <a pButton class="ui-button-sm" [routerLink]="[book.isbn]" [label]="'Edit'"></a>
            <a pButton class="ui-button-sm" [routerLink]="[book.isbn, 'view']" [label]="'View'"></a>
            <a pButton class="ui-button-sm ui-button-danger" (click)="confirmDeletion(book)" [label]="'Delete'"></a>
          </ng-template>
        </app-book-tile>
      </div>
    </ng-template>
  </app-dataview>
</div>
<p-confirmDialog #cd appendTo="body" styleClass="ui-dialog-headless" [closable]="false">
  <p-footer>
    <button pButton label="CANCEL" (click)="cd.reject()" tabindex="0" autofocus></button>
    <button pButton class="ui-button-danger" label="DELETE" (click)="cd.accept()" tabindex="1"></button>
  </p-footer>
</p-confirmDialog>
