<div class="p-grid p-align-center">
  <div class="p-col"><h1>Search to find your new book</h1></div>
  <div class="p-col-fixed"><a pButton [icon]="'pi pi-plus'" label="Add Book" class="ui-button-primary" [routerLink]="['add']"></a></div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>

<ng-container *ngIf="books$ | async as books">
  <p-dataView #dv [value]="books" [layout]="'grid'" [filterBy]="'title,author'">
    <p-header>
      <div class="p-grid">
        <div class="p-col-auto">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
        <div class="p-col">
          <div class="p-grid p-align-center">
            <div class="p-col-fixed">
              Search
            </div>
            <div class="p-col"><input type="search" pInputText (input)="filterBooksFn($event)" /></div>
          </div>
        </div>
      </div>
    </p-header>
    <ng-template let-book pTemplate="listItem">
      <article class="p-col-12">
        <div class="p-grid">
          <div class="p-col-fixed"><img src="./assets/images/missing-image.jpg" [alt]="book.title" /></div>
          <div class="p-col">
            <h4 class="p-mt-0">{{ book.title }}</h4>
            <p>by {{ book.author | array: ', ' }}</p>
          </div>
        </div>
      </article>
    </ng-template>
    <ng-template let-book pTemplate="gridItem">
      <article class="p-col-12 p-sm-4 p-md-3">
        <img src="./assets/images/missing-image.jpg" [alt]="book.title" />
        <h4 class="p-mt-0">{{ book.title }}</h4>
        <p>by {{ book.author | array: ', ' }}</p>
      </article>
    </ng-template>
  </p-dataView>
</ng-container>
