.ui-breadcrumb {
  padding: 0.5rem 0;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  color: $color-primary;
  margin: 0;
  border-radius: $border-radius;
  transition: box-shadow 0.2s;
  font-weight: bold;
  &.ui-state-disabled {
    color: #bdbdbd;
  }
}

.ui-breadcrumb ul li.ui-breadcrumb-chevron {
  margin: 0 0.5rem 0 0.5rem;
  color: #bdbdbd;
}

.ui-breadcrumb ul li .ui-menuitem-icon {
  color: $color-primary;
}
