.ui-button {
  font-size: 0.875rem;
  box-shadow: none;
  margin: 0;
  border: none;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;
  color: rgb(50, 49, 48);
  background-color: #ffffff;
  transition: background-color, border-color, shadow, color 0.2s;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(138, 136, 134);

  &:not([disabled]) {
    &:hover,
    &:active {
      background-color: rgb(243, 242, 241);
      color: rgb(32, 31, 30);
    }
  }

  &[disabled] {
    background-color: rgb(243, 242, 241);
    color: rgb(161, 159, 157);
    border-color: transparent;
    cursor: initial;
  }

  .ui-button-text {
    line-height: 1.125rem;
  }

  .ui-button-icon-left,
  .ui-button-icon-right {
    position: static;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1;
  }

  .ui-button-icon-left {
    padding-left: 1rem;
  }

  .ui-button-icon-right {
    padding-right: 1rem;
  }
}

.ui-button-text-only {
  min-width: 5rem;
  .ui-button-text {
    padding: 0.4375rem 1rem;
    width: 100%;
  }
}

.ui-button-text-icon-left .ui-button-text {
  padding: 0.4375rem 1rem 0.4375rem 0.5rem;
}

.ui-button-text-icon-right .ui-button-text {
  padding: 0.4375rem 0.5rem 0.4375rem 1rem;
}

.ui-button-text-empty .ui-button-text,
.ui-button-icon-only .ui-button-text {
  display: none;
}

.ui-button-icon-only .ui-button-icon-left {
  padding: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

// Contextual colors
.ui-button.ui-button-primary {
  color: #ffffff;
  background-color: $color-primary;
  border-color: $color-primary;
  &:not([disabled]) {
    &:hover,
    &:active {
      color: #ffffff;
      background-color: darken($color-primary, 7.5%);
      border-color: darken($color-primary, 7.5%);
    }
  }

  &[disabled] {
    background-color: rgb(243, 242, 241);
    color: rgb(161, 159, 157);
    border-color: transparent;
    cursor: initial;
  }
}

.ui-button.ui-button-danger {
  color: #ffffff;
  background-color: $color-danger;
  border-color: $color-danger;
  &:not([disabled]) {
    &:hover,
    &:active {
      color: #ffffff;
      background-color: darken($color-danger, 7.5%);
      border-color: darken($color-danger, 7.5%);
    }
  }

  &[disabled] {
    background-color: rgb(243, 242, 241);
    color: rgb(161, 159, 157);
    border-color: transparent;
    cursor: initial;
  }
}

// size
.ui-button.ui-button-sm {
  &.ui-button-text-only {
    min-width: 3.5rem;
    .ui-button-text {
      padding: 0.25rem 0.5rem;
      width: 100%;
      font-size: 0.75rem;
      line-height: 1;
    }
  }
}

// misc
.ui-button {
  + .ui-button {
    margin-left: 0.5rem;
  }
}
