.ui-chkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.ui-chkbox .ui-chkbox-box {
  border: 2px solid rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  width: 1rem;
  height: 1rem;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):hover {
  border-color: #212121;
}

.ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-color: #212121;
}

.ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: $color-primary;
  background-color: $color-primary;
  color: #ffffff;
}

.ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  overflow: hidden;
  position: relative;
  font-size: 0.75rem;
}

.ui-chkbox-label {
  margin: 0 0 0 0.5rem;
}
