.ui-chips {
  display: block;
  width: 100%;
  border-radius: $border-radius;
}

.ui-chips > ul.ui-inputtext {
  padding: 0.4375rem 0.5rem;
  display: inline-block;
  border-radius: $border-radius;
  &:not(.ui-state-disabled):hover,
  &:not(.ui-state-disabled):focus,
  &:not(.ui-state-disabled).ui-state-focus {
    border-color: $color-primary;
    box-shadow: 0px 0px 0px 1px $color-primary inset;
  }
}

.ui-chips > ul.ui-inputtext .ui-chips-input-token {
  padding: 0;
  font-size: 0.875rem;
  line-height: 1rem;
}

.ui-chips > ul.ui-inputtext .ui-chips-input-token input {
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
  color: rgb(50, 49, 48);
}

.ui-chips > ul.ui-inputtext .ui-chips-input-token input:hover {
  border: 0 none;
}

.ui-chips > ul.ui-inputtext .ui-chips-input-token input:focus {
  border: 0 none;
}

.ui-chips > ul.ui-inputtext .ui-chips-token {
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0;
  margin: 0 0.25rem 0 0;
  color: rgb(50, 49, 48);
  display: inline-flex;
}

.ui-chips-token .ui-chips-token-label {
  order: 1;
  margin-right: 0.25rem;
}

.ui-chips-token .ui-chips-token-icon {
  position: static;
  order: 2;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
}
