.ui-dataview .ui-dataview-header {
  padding: 0.5rem 0;
  font-weight: 700;
  border-bottom: 0 none;
}

.ui-dataview .ui-dataview-content {
  padding: 0;
}

.ui-dataview .ui-dataview-layout-options .ui-button {
  border-radius: 0;
  margin-left: 0;
  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &.ui-state-active {
    background-color: rgb(243, 242, 241);
  }
}
