.ui-dataview .ui-dataview-header {
  // background-color: #f4f4f4;
  color: #333333;
  //border: 1px solid #c8c8c8;
  padding: 0.5rem 0;
  font-weight: 700;
  border-bottom: 0 none;
}

.ui-dataview .ui-dataview-content {
  padding: 0;
}

.ui-dataview .ui-dataview-footer {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
  border-top: 0 none;
}

.ui-dataview .ui-dataview-layout-options .ui-button {
  + .ui-button {
    margin-left: 0.25rem;
  }

  &.ui-state-active {
    background-color: $color-primary;
  }
}

.ui-dataview .ui-dataview-layout-options .ui-button:focus {
  /*  outline: 0 none;
  outline-offset: 0px;
  box-shadow: 0 0 0 0.2em #8dcdff;
  z-index: 1; */
}
