.ui-dropdown {
  border: 1px solid rgb(50, 49, 48);
  background-color: #ffffff;
  font-size: 0.875rem;
  width: 100%;
  transition: all 0.25s;
  color: rgb(50, 49, 48);
  border-radius: $border-radius;
  display: inline-flex;

  &:not(.ui-state-disabled):hover,
  &:not(.ui-state-disabled):focus,
  &:not(.ui-state-disabled).ui-state-focus {
    border-color: $color-primary;
    box-shadow: 0px 0px 0px 1px $color-primary inset;
  }
}

.ui-dropdown-label-container {
  flex-grow: 1;
}

.ui-dropdown .ui-dropdown-label {
  padding-right: 2rem;
  background-color: transparent;
  &:not(.ui-state-disabled):hover,
  &:not(.ui-state-disabled):focus,
  &:not(.ui-state-disabled).ui-state-focus {
    border-color: none;
    box-shadow: none;
  }
}

.ui-dropdown .ui-dropdown-label .ui-placeholder {
  color: #666666;
}

.ui-dropdown .ui-dropdown-trigger {
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0;
  color: rgb(50, 49, 48);
}

.ui-dropdown-panel {
  padding: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
}

.ui-dropdown-panel .ui-dropdown-items {
  padding: 0;
}

.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item,
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
  margin: 0;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem;
  line-height: 1rem;
  border: 0 none;
  color: rgb(50, 49, 48);
  background-color: transparent;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 0;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
  background-color: rgb(237, 235, 233);
}

.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  background-color: rgb(237, 235, 233);
}
