/* @import 'node_modules/primeflex/primeflex.scss'; */
@import 'primeflex/primeflex';

.p-grid {
  margin-top: 0;
}

.p-grid:not(.p-nogutter) > .p-col,
.p-grid:not(.p-nogutter) > [class*='p-col-'] {
  padding: 0 $gutter;
}

.p-field > label {
  color: #212121;
}

.ng-invalid.ng-touched {
  border-color: #f44336;

  ~ .invalid-feedback {
    color: #f44336;
  }
}
