.ui-inputtext {
  font-size: 0.875rem;
  padding: 0.4375rem 0.5rem;
  line-height: 1rem;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  box-shadow: none;
  width: 100%;
  transition: all 0.25s;
  color: #212121;

  &:not(.ui-state-disabled):hover {
    border-color: #212121;
  }
  
  &:not(.ui-state-disabled).ui-state-focus {
    border-color: #212121;
  }
}
