.ui-multiselect {
  font-size: 0.875rem;
  padding: 0.4375rem 0.5rem;
  line-height: 1rem;
  background-color: #ffffff;
  border: 1px solid rgb(50, 49, 48);
  box-shadow: none;
  width: 100%;
  transition: all 0.25s;
  color: rgb(50, 49, 48);
  border-radius: $border-radius;

  &:not(.ui-state-disabled):hover,
  &:not(.ui-state-disabled):focus,
  &:not(.ui-state-disabled).ui-state-focus {
    border-color: $color-primary;
    box-shadow: 0px 0px 0px 1px $color-primary inset;
  }
}

.ui-multiselect .ui-multiselect-label {
  padding: 0;
  font-size: 0.875rem;
  line-height: 1rem;
}

.ui-multiselect .ui-multiselect-trigger {
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0;
  color: rgb(50, 49, 48);
}

.ui-multiselect-panel {
  padding: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
}

.ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container {
  float: none;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
}

.ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-inputtext {
  font-size: 0.875rem;
  padding: 0.4375rem 0.2rem 0.4375rem 0.5rem;
  line-height: 1rem;
}

.ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
  top: 50%;
  margin-top: -0.5rem;
  right: 0.5rem;
  left: auto;
}

.ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close {
  display: none;
}

.ui-multiselect-panel .ui-multiselect-items {
  padding: 0;
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item {
  margin: 0;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem;
  line-height: 1rem;
  border: 0 none;
  color: rgb(50, 49, 48);
  background-color: transparent;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 0;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
  background-color: rgb(237, 235, 233);
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item:not(.ui-state-disabled):hover {
  background-color: rgb(237, 235, 233);
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-disabled .ui-chkbox-box {
  cursor: auto;
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item .ui-chkbox {
  position: static;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
}

.ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item label {
  display: inline-block;
  vertical-align: middle;
}
