<div class="p-grid p-align-center">
  <div class="p-col"><h1>Add new Book</h1></div>
  <div class="p-col-fixed">
    <a pButton [icon]="'pi pi-plus'" label="Add Another Book" class="ui-button-primary" [routerLink]="['./']"></a>
  </div>
</div>

<pre>{{ form.value | json }}</pre>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" type="text" pInputText formControlName="title" />
      </div>
      <div class="p-field">
        <label for="subtitle">Subtitle</label>
        <input id="subtitle" type="text" pInputText formControlName="subtitle" />
      </div>
      <div class="p-field">
        <label for="isbn">ISBN</label>
        <input id="isbn" type="text" pInputText formControlName="isbn" />
      </div>
    </div>
    <div class="p-col-12 p-md-6">
      <img src="./assets/images/missing-image.jpg" />
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="p-field">
        <label for="description">Description</label>
        <textarea id="description" type="text" rows="3" pInputTextarea formControlName="description"></textarea>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-field">
        <label for="authors">Author(s)</label>
        <p-chips formControlName="authors" [max]="3"></p-chips>
      </div>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6"></div>
    <div class="p-field p-col-12 p-md-6"></div>

    <div class="p-field p-col-12 p-md-6">
      <label for="isbn">Pages</label>
      <input id="pages" type="number" pInputText formControlName="pages" />
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="published">Published</label>
      <input id="published" type="text" pInputText formControlName="published" />
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="publisher">Publisher</label>
      <input id="publisher" type="text" pInputText formControlName="publisher" />
    </div>
    <!--  -->
    <div class="p-field p-col-12 p-md-6">
      <label for="website">Website</label>
      <input id="website" type="text" pInputText formControlName="website" />
    </div>
  </div>
  <div>
    <button pButton type="submit" class="ui-button-primary" label="Save"></button>
    <button pButton type="button" label="Cancel" [routerLink]="['../']"></button>
  </div>
</form>

<p-confirmDialog #cd appendTo="body" styleClass="ui-dialog-headless" [closable]="false">
  <p-footer>
    <button pButton label="CANCEL" (click)="cd.reject()" tabindex="0" autofocus></button>
    <button pButton class="ui-button-danger" label="DISCARD" (click)="cd.accept()" tabindex="1"></button>
  </p-footer>
</p-confirmDialog>
