@import '~src/styles/variables';

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: $color-primary;
  color: #ffffff;
  font-weight: 700;
  // padding: 1rem;
}

.topbar .topbar-left {
  box-sizing: border-box;
  width: 15rem;
  height: 4rem;
  padding: 1rem;
  line-height: 2rem;
  background-color: darken($color-primary, 5%);
  position: relative;
}

.topbar-left .menu-brand {
  color: #ffffff;
  text-decoration: none;
}

.topbar-left .menu-button {
  color: darken($color-primary, 5%);
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: -1rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: $border-radius;
  &:hover {
    background-color: #f5f5f5;
  }
}

.content {
  display: block;
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}
