<div class="main-book">
  <div class="p-grid p-nogutter">
    <div class="p-col-fixed">
      <img [src]="book.image || './assets/images/missing-image.png'" [alt]="book.title" class="image" />
    </div>
    <div class="p-col column-content">
      <h1 class="p-my-0">{{ book.title }}</h1>
      <h4 class="p-mt-1 p-mb-0">{{ book.subtitle }}</h4>
      <div>
        <ul>
          <li>Author: {{ book.author | array: ', ' }}</li>
          <ng-container *ngIf="bookGenreMap">
            <ng-container *ngIf="book.categories as categories">
              <li *ngIf="categories.length">
                Categories:
                <ng-container *ngFor="let category of categories; let last = last">
                  #{{ bookGenreMap[category] }}<ng-container *ngIf="!last">, </ng-container>
                </ng-container>
              </li>
            </ng-container>
          </ng-container>
          <li>ISBN: {{ book.isbn }}</li>
          <li>Published Year: {{ book.published }}</li>
          <li>Pages: {{ book.pages }}</li>
          <li>Publisher: {{ book.publisher }}</li>
          <li *ngIf="book.website">
            Website: <a [href]="book.website" target="_blank"> {{ book.website }}</a>
          </li>
        </ul>
      </div>
      <div>{{ book.description }}</div>
    </div>
  </div>
  <div class="p-grid p-mt-3 p-justify-end">
    <div class="p-col-fixed">
      <button pButton type="button" label="Edit" [routerLink]="['../']"></button>
      <button pButton type="button" label="Back" [routerLink]="['../../']"></button>
    </div>
  </div>
</div>

<h2>Other Books you may like</h2>
<div class="p-grid">
  <ng-container *ngFor="let book of similarBooks$ | async">
    <div class="p-col-12 p-sm-6 p-md-4 p-py-2">
      <app-book-tile [book]="book">
        <ng-template pTemplate="actions">
          <a pButton class="ui-button-sm" [routerLink]="['../../', book.isbn]" [label]="'Edit'"></a>
          <a pButton class="ui-button-sm" [routerLink]="['../../', book.isbn, 'view']" [label]="'View'"></a>
        </ng-template>
      </app-book-tile>
    </div>
  </ng-container>
</div>
