@import '~src/styles/variables';

:host {
  display: block;
  height: 100vh;
  position: relative;
  padding-top: $header-height;
}

.portal-content {
  display: block;
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
  max-width: $md;
}

::ng-deep .portal-sidebar {
  width: 15rem;
  background: rgba(0, 0, 0, 0.08);
  background: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.9);
  white-space: nowrap;
}
