@import '~src/styles/variables';

:host {
  display: block;
  height: 100vh;
  position: relative;
  padding-top: $header-height;
}

.portal-content {
  display: block;
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

::ng-deep .portal-sidebar {
  width: 15rem;
  border-right: 1px solid #eeeeee;
  background-color: #f5f5f5;
}
